
*.xml
*.iml
*.class
*.html
*.lock
*.bin
Lab1/.gradle/buildOutputCleanup/cache.properties
Lab1/.gradle/vcsWorkingDirs/gc.properties
Lab1/.idea/.name
*.MF
*.jar
Lab2/.idea/.name
Lab2/.gradle/vcsWorkingDirs/gc.properties
Lab3/.idea/workspace.xml___jb_tmp___
